<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
</ul>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>

<div ng-controller="UserController">
    <input type="text" ng-model="user.name"/>
    <input type="text" ng-model="user.email"/>

    <p>用户名：<span ng-bind="user.name"></span></p>

    <p>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<span ng-bind="user.email"></span></p>
    <button ng-click="user.subscribe()">订阅</button>
</div>

<div ng-controller="ShowController">
    <ul>
        <li ng-repeat="show in shows" ng-class="{subscribe:show.subscribe}">
            <input type="checkbox" ng-model="show.subscribe"/><span ng-bind="show.title"></span>
        </li>
    </ul>
</div>

<div ng-controller="FormController">
    <form name="userForm" novalidate>
        <input type="email" name="userEmail" ng-model="user.email" required minlength="5" maxlength="50"/>
    </form>
    <div ng-if="userForm.userEmail.$touched || userForm.$submitted" class="ng-cloak">
        <p class="alert alert-danger" ng-if="userForm.userEmail.$error.required">Email字段是必填项</p>
    </div>

    <pre>{{userForm | json}}</pre>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
