/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/**
 * CONTENTS
 *
 * SETTINGS
 * variables............................变量集中存储文件
 * mixin................................mixin集中存储文件
 *
 * TOOLS
 *
 * COMPONENTS
 * reset................................Compass内置浏览器重置样式文件
 *
 * BUSSINESS
 *
 * BASE
 * screen.scss..........................针对当前站点主页的样式修饰
 */


@import "variables", "mixin", "compass/reset", "normalize";
//引入compass的css3模块
@import "compass/css3";

body {
  background-color: #fff;
  color: #555;
  font-family: $main-ff;
  font-size: 14px;
  @include font-smoothing();
}

.wrap {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 50%;
  margin-top: -300px;
  background-color: #333;
  overflow: hidden;
  @include perspective( 800px );
}

// 海报样式
.photo {
  width: 260px;
  height: 320px;
  position: absolute;
  z-index: 1;
  @include box-shadow(0 0 1px rgba(0,0,0,.01));
  @include transition(all .6s);
  //优化样式
  left: 50%;
  top: 50%;
  margin: -160px 0 0 -130px;
}

// 当前选中的海报样式
.photo-center {
  left: 50%;
  top: 50%;
  margin: -160px 0 0 -130px;
  z-index: 999;
}

//负责翻转
.photo-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  @include transform-style(preserve-3d);
  @include transition(all .6s);
  //样式优化
  @include transform-origin(0%);

  .side {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    @include box-sizing(border-box);
    @include backface-visibility(hidden);
  }

  // 海报正面
  .side-front {
    //海报正面图片
    .image {
      width: 100%;
      height: 250px;
      line-height: 250px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    //海报标题
    .caption {
      text-align: center;
      font-size: 16px;
      line-height: 50px;
    }
    @include rotateY(0deg);
  }

  // 海报背面
  .side-back {
    //海报背面描述
    .desc {
      color: #666;
      font-size: 14px;
      line-height: 1.5em;
    }
    @include rotateY(180deg);
  }
}

.photo-front {
  .photo-wrap {
    @include transform(translate(0px, 0px) rotateY(0deg));
  }
}

.photo-back {
  .photo-wrap {
    @include transform(translate(260px, 0px) rotateY(180deg));
  }
}

//定义字体
@include font-face('icons',font-files('/gallery_demo/fonts/icons/icons.woff'));
//控制按钮的样式
.nav {
  width: 80%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 10%;
  bottom: 20px;
  z-index: 999;
  text-align: center;

  //普通样式
  .i {
    width: 30px;
    height: 30px;
    @include inline-block();
    cursor: pointer;
    background-color: #aaa;
    text-align: center;
    @include border-radius(50%);
    @include scale(.48);
    @include transition(all .5s);
    &:after {
      content: "\e600";
      font-family: 'icons';
      font-size: 80%;
      @include inline-block();
      line-height: 30px;
      text-align: center;
      color: #fff;
      @include opacity(0);
    }
  }
  //选中样式
  .i-current {
    @include scale(1);
    &:after {
      @include opacity(1);
    }
  }
  //背面样式
  .i-back{
    @include rotateY(-180deg);
    background-color: #555;
  }
}
